<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title>
                TITLE
            </title>
    </head>
    <body>
        <h1>
            TITLE
        </h1>
        <ul>
            <li><a href="#iso-identification-info">Identification Information</a></li>
            <li><a href="#iso-spatial-reference-info">Spatial Reference Information</a></li>
            <li><a href="#iso-distribution-info">Distribution Information</a></li>
            <li><a href="#iso-content-info">Content Information</a></li>
            <li><a href="#iso-spatial-representation-info">Spatial Representation Information</a></li>
            <li><a href="#iso-metadata-reference-info">Metadata Reference Information</a></li>
        </ul>
        <div id="iso-identification-info"><dl>
            <dt>Identification Information</dt>
            <dd><dl>
                <dt>Citation</dt>
                <dd><dl>
                    <dt>Title</dt>
                    <dd>
                        TITLE
                    </dd>
                    <dt>Publisher</dt>
                    <dd>
                        PUBLISHER
                    </dd>
                    <dt>Publication Date</dt>
                    <dd>
                        2012-01-01
                    </dd>
                    <dt>Identifier</dt>
                    <dd>
                        URL
                    </dd>
                    <dt>Collection Title</dt>
                    <dd>
                        COLLECTIONTITLE
                    </dd>
                </dl></dd>
                <dt>Abstract</dt>
                <dd>
                    ABSTRACT
                </dd>
                <dt>Temporal Extent</dt>
                <dd><dl>
                    <dt>Currentness Reference</dt>
                    <dd>
                        publication date
                    </dd>
                    <dt>Time Instant</dt>
                    <dd>2019-01-25T00:00:00</dd>
                </dl></dd>
                <dt>Bounding Box</dt>
                <dd><dl>
                    <dt>West</dt>
                    <dd>
                        -121.2844287
                    </dd>
                    <dt>East</dt>
                    <dd>
                        -119.9867157
                    </dd>
                    <dt>North</dt>
                    <dd>
                        39.31590123
                    </dd>
                    <dt>South</dt>
                    <dd>
                        38.61859902
                    </dd>
                </dl></dd>
                <dt>ISO Topic Category</dt>
                <dd>boundaries</dd>
                <dt>Place Keyword</dt>
                <dd>
                    PLACE
                    <dl>
                        <dt>Place Keyword Thesaurus</dt>
                        <dd>
                            geonames
                        </dd>
                    </dl>
                </dd>
                <dt>Theme Keyword</dt>
                <dd>
                    THEME
                    <dl>
                        <dt>Theme Keyword Thesaurus</dt>
                        <dd>
                            lcsh
                        </dd>
                    </dl>
                </dd>
                <dt>Legal Constraints</dt>
                <dd><dl>
                    <dt>Use Restrictions</dt>
                    <dd>otherRestrictions</dd>
                    <dt>Other Restrictions</dt>
                    <dd>
                        RIGHTS
                    </dd>
                </dl></dd>
                <dt>Status</dt>
                <dd>completed</dd>
                <dt>Collection</dt>
                <dd><dl>
                    <dt>Collection Title</dt>
                    <dd>
                        COLLECTIONTITLE
                    </dd>
                    <dt>URL</dt>
                    <dd>
                        COLLECTIONID
                    </dd>
                </dl></dd>
                <dt>Language</dt>
                <dd>
                    eng
                </dd>
                <dt>Credit</dt>
                <dd>
                    CREDIT
                </dd>
            </dl></dd>
        </dl></div>
        <div id="iso-spatial-reference-info">
            <dt>Spatial Reference Information</dt>
            <dd><dl>
                <dt>Reference System Identifier</dt>
                <dd><dl>
                    <dt>Code</dt>
                    <dd>
                        4326
                    </dd>
                    <dt>Code Space</dt>
                    <dd>
                        EPSG
                    </dd>
                    <dt>Version</dt>
                    <dd></dd>
                </dl></dd>
            </dl></dd>
        </div>
        <div id="iso-distribution-info">
            <dt>Distribution Information</dt>
            <dd><dl>
                <dt>Format Name</dt>
                <dd>
                    Shapefile
                </dd>
                <dt>Distributor</dt>
                <dd>
                    Stanford Geospatial Center
                </dd>
                <dt>Online Access</dt>
                <dd></dd>
                <dt>Protocol</dt>
                <dd></dd>
                <dt>Name</dt>
                <dd></dd>
            </dl></dd>
        </div>
        <div id="iso-content-info">
            <dt>Content Information</dt>
            <dd><dl>
                <dt>Feature Catalog Description</dt>
                <dd><dl>
                    <dt>Compliance Code</dt>
                    <dd>
                        false
                    </dd>
                    <dt>Language</dt>
                    <dd>
                        eng
                    </dd>
                    <dt>Included With Dataset</dt>
                    <dd>
                        true
                    </dd>
                    <dt>Feature Catalog Citation</dt>
                    <dd><dl>
                        <dt>Title</dt>
                        <dd>
                            Entity and Attribute Information
                        </dd>
                        <dt>Publication Date</dt>
                        <dd>
                            2019-02-01
                        </dd>
                        <dt>Feature Catalog Identifier</dt>
                        <dd>
                            UUID
                        </dd>
                    </dl></dd>
                </dl></dd>
            </dl></dd>
        </div>
        <div id="iso-spatial-representation-info">
            <dt>Spatial Representation Information</dt>
            <dd><dl>
                <dt>Vector</dt>
                <dd><dl>
                    <dt>Topology Level</dt>
                    <dd></dd>
                    <dt>Vector Object Type</dt>
                    <dd>point</dd>
                    <dt>Vector Object Count</dt>
                    <dd></dd>
                </dl></dd>
            </dl></dd>
        </div>
        <div id="iso-metadata-reference-info">
            <dt>Metadata Reference Information</dt>
            <dd><dl>
                <dt>Hierarchy Level</dt>
                <dd>
                    dataset
                </dd>
                <dt>Metadata File Identifier</dt>
                <dd>
                    METADATAID
                </dd>
                <dt>Dataset URI</dt>
                <dd>
                    URL
                </dd>
                <dt>Metadata Date Stamp</dt>
                <dd>
                    2020-02-03
                </dd>
                <dt>Metadata Standard Name</dt>
                <dd>
                    ISO 19139 Geographic Information - Metadata - Implementation Specification
                </dd>
                <dt>Metadata Standard Version</dt>
                <dd>
                    2007
                </dd>
                <dt>Character Set</dt>
                <dd>utf8</dd>
            </dl></dd>
        </div>
    </body>
</html>
